/* BASIC STYLES HERE */
body {
    background-size: cover;
    background-repeat: no-repeat;
}

.glass-box {
    background: rgba(138, 114, 114, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 3px solid rgb(0, 0, 0);
    color: white;
}

.quote-box {
    background: rgba(138, 114, 114, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    color: white;
}